#photos {
    margin-block: 1rem;
}

#photos img {
    width: 100%;
    object-fit: cover;
    display: block;
}

#photos .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#photos .card {

    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}






@media (width >=80em) {
    #photos {
        margin-block: 1.5rem;

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
        }
    }

}

@media (width >=120em) {
    #photos {
        margin-block: 1.5rem;

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
        }
    }
   
}


@media (min-width: 67.5em) {
        #photos {
        margin-block: 1.5rem;

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
        }
    }
}